[Desktop Entry]
Version=1.0
Name=AI Recording Visualizer
GenericName=AI Recording Visualizer
Comment=A Mega Cool App that does everything
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;